{% extends "layout.html" %}

{% block title %}
    Chart
{% endblock %}

{% block main %}
    <div class="grid-container">
        <div class="form-container">
            <form method="POST" action="/basket" class="basket-data">

                <label for="basket">Select Basket:</label>
                <select name="basket" id="basket">
                    <option value="AI" {% if selected_basket == 'AI' %} selected {% endif %}>AI</option>
                    <option value="L1" {% if selected_basket == 'L1' %} selected {% endif %}>L1</option>
                    <option value="DEFI" {% if selected_basket == 'DEFI' %} selected {% endif %}>DEFI</option>
                </select>
                <label for="basket">Select Counter:</label>
                <input type="text" name="counter" id="ticker" placeholder="Enter counter symbol" value="{{ selected_counter }}">
        
                <label for="interval">Select Time Interval:</label>
                <select name="interval" id="interval">
                    <option value="15m">15 min</option>
                    <option value="1h">1 hour</option>
                    <option value="4h">4 hour</option>
                    <option value="1d">1 day</option>
                    <option value="1w">1 week</option>
                    <!-- Add more options as needed -->
                </select>
        
                <label for="bars_back">Bars Back:</label>
                <input type="number" name="bars_back" id="bars_back" value="{{ selected_bars_back }}">
        
                <input type="submit" value="Generate Chart">
            </form>
        </div>
        
        <div id="chart" class="chart-container">

            <div>{{ chart_div | safe }}</div>
        <div>
    </div>
    
{% endblock %}