{% extends "layout.html" %}

{% block title %}
    Chart
{% endblock %}

{% block main %}
    <div class="grid-container">
        <div class="form-container">
            <form method="POST" action="/chart">
                <label for="ticker">Select Ticker:</label>
                <input type="text" name="ticker" id="ticker" value="{{ selected_ticker }}">
                
                <label for="bars_back">Bars Back:</label>
                <input type="number" name="bars_back" id="bars_back" value="{{ selected_bars_back }}">
                
                <label for="interval">Select Time Interval:</label>
                <select name="interval" id="interval">
                    <option value="15m" {% if selected_interval == '15m' %} selected {% endif %}>15 min</option>
                    <option value="1h" {% if selected_interval == '1h' %} selected {% endif %}>1 hour</option>
                    <option value="4h" {% if selected_interval == '4h' %} selected {% endif %}>4 hour</option>
                    <option value="1d" {% if selected_interval == '1d' %} selected {% endif %}>1 day</option>
                    <option value="1w" {% if selected_interval == '1w' %} selected {% endif %}>1 week</option>
                    <!-- Add more options as needed -->
                </select>
            
                <input type="submit" value="Generate Chart">
            </form>
        </div>
        
        <div id="chart" class="chart-container">

            <div>{{ chart_div | safe }}</div>
        <div>
    </div>
    
{% endblock %}