<!DOCTYPE html>
<link href="/static/index_styles.css" rel="stylesheet">
<body>

    <div class="grid-container">
        <div class="content">
            <div class="text">
                <h1>
                    Welcome to Sector Data
                 </h1>
                 <h2>
                    Open the gates to a deeper look into markets...
                 </h2>
            </div>
            <div class="button">
                <a class="fut_button" href="/chart" style="--color:#1ec3ff;">
                    Enter
                </a>
            </div>    
        </div>
    </div>

</body>