body {
    background-color: #121212;
    color: #FFFFFF; 
    font-family:monospace;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 20px; 
    padding: 20px; 
}

.form-container {
    background-color: #1E1E1E; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1); 
    align-items: center;
}

.chart-container {
    /* margin-top: 5px; */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1); 
}


label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
select,
input[type="number"],
input[type="submit"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #333; 
    color: #FFFFFF; 
    border: none;
    border-radius: 5px;
    align-content: center;
}

input[type="submit"] {
    background-color: #007BFF; 
    color: #FFFFFF; 
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3; 
}

#chart {
    margin-top: 20px;
}

.red {
    color:whitesmoke;
}

.black {
    color:whitesmoke;
}

/* Dark-themed navigation bar */
nav.border {
    background-color: #232323; 
    border-bottom: 1px solid #444;
}

.navbar-brand {
    color: #fff; /* Text color */
    font-size: 24px;
    font-weight: bold;
}

.navbar-toggler-icon {
    background-color: #3f3f3f; 
    border-color: #007BFF;
}

.navbar-nav .nav-link {
    color: #454545; 
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    background-color: #3f3f3f; 
    color: #33ebff; 
}

/* User-specific menu items */
.navbar-nav.me-auto .nav-item,
.navbar-nav.ms-auto .nav-item {
    margin-right: 15px;
}

/* Logout button */
.navbar-nav.ms-auto .nav-item:last-child {
    margin-right: 0;
}

/* Active link */
.navbar-nav .active .nav-link {
    background-color: #555; 
    color: #ff5733; 
}

.navbar-toggler {
    outline: none;
}

.border {
    align-items: center;
}